data/
papers-infos/chromedriver
papers-infos/results/
papers-infos/titles.csv
*.pyo
*.pyc
__pycache__/
venv/
*.swp
crawl/_arxiv_papers_infos
crawl/arxiv_papers_infos
crawl/dblp_bibtexes
*.csv
*.chroma/
