autosemver==0.5.3
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
dulwich==0.19.7
idna==2.7
kiwisolver==1.0.1
matplotlib==3.0.1
networkx==2.2
nltk==3.3
numpy==1.15.4
pydot==1.2.4
pyparsing==2.3.0
PyPDF2==1.26.0
python-dateutil==2.7.5
python-magic==0.4.15
requests==2.20.0
RISparser==0.4.3
scipy==1.1.0
six==1.11.0
unicode==2.6
Unidecode==1.0.22
urllib3==1.24.2
